.light-mode {
  background-color: white;
}

.light-mode div.top-bar-name {
  color: black;
}

.light-mode div.top-bar {
  border-bottom-color: black;
}

.light-mode .menu-content {
  background-color: black;
}

.light-mode .menu-content a {
  color: white;
}

.light-mode .menu-content a:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.light-mode .blog-content p, .light-mode .blog-content a {
  color: black;
}

.light-mode .match-3-game-button {
  background-color: black;
}

.light-mode .match-3-game-button a {
  color: white;
}
