body {
  background-color: #183943;
  font-family: Helvetica, Arial, sans-serif;
}

div.top-bar {
  height: 50px;
  width: 700px;
  margin: auto;
  border-bottom-style: solid;
  border-bottom-color: #b7c0a6;
}

div.top-bar-name {
  color: #dde2c1;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  text-align: center;
}

div.top-bar-name > p.top-bar-name-1 {
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 20px;
  width: 200px;
  height: 25px;
}

div.top-bar-name > p.top-bar-name-2 {
  text-transform: uppercase;
  margin: 0 auto;
  color: grey;
  font-size: 15px;
  width: 200px;
  height: 25px;
}

.menu-button {
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  width: 45px;
  height: 45px;
  background: inherit;
  z-index: 1;
}

.bars {
  position: relative;
  bottom: 60px;
  left: -37px;
}

.menu-button:hover,
.menu-button:focus {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  bottom: -97px;
  background-color: #677f72;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(22, 60, 227, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.menu-content a {
  color: #dde2c1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.menu-content a:hover {
  background-color: #223c3e;
}

.show {
  display: block;
}

div.how-to-play {
  position: relative;
  bottom: 100px;
  left: 50px;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

img.how-to-play-img {
  position: relative;
  left: 10px;
  bottom: -12px;
}

div.how-to-play:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.statistics-button {
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 143px;
  left: 600px;
  width: 45px;
  height: 45px;
  background: inherit;
  z-index: 1;
}

.statistics-img {
  position: relative;
  bottom: 153px;
  left: 562px;
}

.statistics-button:hover,
.statistics-button:focus {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.statistics {
  position: relative;
  display: inline-block;
}

.statistics-content {
  display: none;
  position: absolute;
  bottom: -97px;
  background-color: #677f72;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(22, 3C, E3, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.statistics-content a {
  color: #dde2c1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.statistics-content a:hover {
  background-color: #223c3e;
}

.show {
  display: block;
}

.mode {
  width: 45px;
  height: 45px;
  position: relative;
  bottom: 189px;
  left: 650px;
}

.mode-img {
  position: relative;
  bottom: -5px;
  left: 4px;
}

.mode-button {
  width: 45px;
  height: 45px;
  position: relative;
  bottom: 40px;
  background: none;
  border: none;
}

.mode-button:hover,
.mode-button:focus {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.game {
  border: solid white;
  width: 700px;
  margin: 0 auto;
}

canvas {
  width: 700px;
  margin: 0 auto;
}

colores {
  color: #dde2c1;
  color: #b7c0a6;
  color: #677f72;
  color: #183943;
  color: #223c3e;
}
