@media only screen and (max-width: 450px) {
  /* TOP BAR */
  div.top-bar {
    height: 50px;
    width: 380px;
    margin: auto;
    border-bottom-style: solid;
    border-bottom-color: var(--border-bottom-color);
  }

  div.top-bar-name {
    color: var(--top-bar-name-color);
    margin: 0 auto;
    width: 170px;
    height: 50px;
    text-align: center;
    position: relative;
  }

  div.top-bar-name > .top-bar-name-1 {
    text-transform: uppercase;
    font-size: 18px;
    width: 170px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    left: -7px;
  }

  div.top-bar-name > .top-bar-name-2 {
    text-transform: uppercase;
    color: grey;
    font-size: 13px;
    width: 170px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    left: -10px;
  }

  /* settings */
  .settings-button {
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 143px;
    left: 280px;
    width: 45px;
    height: 45px;
    background: inherit;
    z-index: 1;
  }

  .settings-img {
    position: relative;
    bottom: 153px;
    left: 243px;
    width: 22px;
  }

  #settings-content {
    margin: 0 auto;
    position: relative;
    bottom: 477px;
    left: 60px;
    display: none;
    width: 250px;
    color: var(--content-a);
    z-index: 3;
  }

  .game-2048 + #settings-content {
    position: relative;
    bottom: 356px;
  }

  #play-button {
    position: relative;
    left: 103px;
    background-color: white;
    border-radius: 100%;
  }

  #play-button-2048 {
    position: relative;
    left: 108px;
    background-color: white;
    border-radius: 100%;
  }

  /* MODE */
  .mode {
    position: relative;
    width: 55px;
    height: 45px;
    bottom: 191px;
    left: 326px;
  }

  .mode-img {
    visibility: hidden;
  }

  .mode #selTheme {
    position: relative;
    left: 1px;
    bottom: 13px;
  }

  /* GAME */
  .game {
    width: 380px;
    height: 480px;
    position: relative;
    bottom: -40px;
  }

  #viewport {
    width: 380px;
    height: 480px;
  }

  /* GAME 2048 */
  .game-2048 {
    width: 380px;
    height: 480;
    margin: 0 auto;
    position: relative;
    bottom: -20px;
  }

  /* BLOG */
  .blog-content,
  .about-content,
  .how-content {
    width: 380px;
    margin: 0 auto;
    font-size: 18px;
  }

  /* button-play */
  .button-play {
    padding: 20px;
    background-color: var(--background-match-3-button);
    text-align: center;
    width: 50px;
    font-size: 12px;
    text-decoration: none; 
    border-radius: 10px;
    position: relative;
    left: 150px;
  }

  .donation-buttons > .button-play {
    padding: 20px;
    background-color: var(--background-match-3-button);
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 10px;
    float: left;
    margin-right: 5px;
    position: relative;
    bottom: 25px;
  }

  .how-to-buttons > .button-play {
    position: relative;
    left: 40px;
  }

  .mode-blog,
  .mode-about {
    width: 55px;
    height: 45px;
    position: relative;
    bottom: 98px;
    left: 320px;
  }

  .mode-blog #selTheme,
  .mode-about #selTheme {
    position: relative;
    left: 1px;
    bottom: 25px;
  }

  .mode-img-blog {
    visibility: hidden;
  }

  /* Contact and social media */
  .contact-content h1,
  .about-content h1,
  .how-content h1 {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    color: var(--top-bar-name-color);
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
  }

  .contact-buttons,
  .donation-buttons {
    margin: 0 auto;
    width: 260px;
    height: 120px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    left: 40px;
  }

  .contact-buttons a {
    position: relative;
    right: 100px;
  }

  .donation-buttons {
    height: 55px;
  }

  .fa-paypal,
  #credits-music {
    position: relative;
    left: 85px;
  }

  /* how-to-play match 3*/
  .how-content {
    width: 380px;
    margin: 0 auto;
    clear: both;
  }
  .row-01 p {
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 15px;
  }
  .row-01 {
    width: 45px;
    height: 45px;
    animation: row-01 0.9s linear 0.5s both;
    border-radius: 10px;
    float: left;
    margin: 10px;
  }

  .title-01 {
    width: 390px;
    margin: 0 auto;
  }

  .title-02 {
    width: 350px;
    margin: 0 auto;
  }

  .title-03 {
    width: 70px;
    margin: 0 auto;
    position: relative;
    left: -9px;
  }

  .title-04 {
    width: 370px;
    margin: 0 auto;
    padding: 10px;
  }

  /* how to play 2048 */
  .row-01-2048 {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    float: left;
    margin: 10px;
  }

  .row-01-2048 p {
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 15px;
  }

  .title-02-2048 {
    width: 260px;
    margin: 0 auto;
  }
}

/* small devices */

@media only screen and (max-width: 400px) {
  /* TOP BAR */
  div.top-bar {
    height: 50px;
    width: 95%;
    margin: auto;
    border-bottom-style: solid;
    border-bottom-color: var(--border-bottom-color);
  }

  div.top-bar-name {
    color: var(--top-bar-name-color);
    margin: 0 auto;
    height: 50px;
    text-align: center;
    position: relative;
  }

  div.top-bar-name > .top-bar-name-1 {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 12px;
    width: 140px;
    position: relative;
    bottom: -8px;
    left: -8px;
  }

  div.top-bar-name > .top-bar-name-2 {
    text-transform: uppercase;
    margin: 0 auto;
    color: grey;
    font-size: 10px;
    width: 90px;
    height: 10px;
    position: relative;
    bottom: -5px;
    left: -7px;
  }

  /* settings */
  .settings-button {
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 143px;
    left: 68%;
    width: 45px;
    height: 45px;
    background: inherit;
    z-index: 1;
  }

  .settings-img {
    position: relative;
    bottom: 153px;
    left: 57%;
    width: 22px;
  }

  #settings-content {
    margin: 0 auto;
    position: relative;
    bottom: 447px;
    left: 10%;
    display: none;
    width: 250px;
    color: var(--content-a);
    z-index: 3;
  }

  .game-2048 + #settings-content {
    position: relative;
    bottom: 448px;
  }

  #play-button {
    position: relative;
    left: 103px;
    background-color: white;
    border-radius: 100%;
  }

  #play-button-2048 {
    position: relative;
    left: 108px;
    background-color: white;
    border-radius: 100%;
  }

  /* MODE */
  .mode {
    position: relative;
    width: 55px;
    height: 45px;
    bottom: 191px;
    left: 83%;
  }

  .mode-img {
    visibility: hidden;
  }

  .mode #selTheme {
    position: relative;
    left: 1px;
    bottom: 13px;
  }

  /* GAME */
  .game {
    width: 320px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    bottom: -20px;
  }

  #viewport {
    margin: 0 auto;
    width: 320px;
    height: 450px;
  }

  /* GAME 2048 */
  .game-2048 {
    width: 320px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    bottom: -20px;
  }

  .blog-content,
  .about-content,
  .how-content {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
  }

  /* button-play */
  .button-play {
    padding: 16.2px;
    background-color: var(--background-match-3-button);
    text-align: center;
    width: 50px;
    font-size: 12px;
    text-decoration: none; 
    border-radius: 10px;
    position: relative;
    left: 150px;
  }

  .how-to-buttons > .button-play {
    position: relative;
    left: 45px;
  }

  .donation-buttons > .button-play {
    padding: 20px;
    background-color: var(--background-match-3-button);
    text-align: center;
    width: 50px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 10px;
    float: left;
    margin-right: 5px;
    position: relative;
    bottom: 25px;
    left: 40px;
  }

  .mode-blog,
  .mode-about {
    width: 55px;
    height: 45px;
    position: relative;
    bottom: 98px;
    left: 80%;
  }

  .mode-blog #selTheme,
  .mode-about #selTheme {
    position: relative;
    left: 1px;
    bottom: 25px;
  }

  .mode-img-blog {
    visibility: hidden;
  }

  /* Contact and social media */
  .contact-content h1,
  .about-content h1,
  .how-content h1 {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    color: var(--top-bar-name-color);
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
  }

  .contact-buttons,
  .donation-buttons {
    margin: 0 auto;
    width: 260px;
    height: 120px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    left: 45px;
  }

  .contact-buttons a {
    position: relative;
    right: 100px;
  }

  .donation-buttons {
    height: 55px;
  }

  .fa-paypal,
  #credits-music {
    position: relative;
    left: 85px;
  }

  /* how-to-play */
  .how-content {
    width: 380px;
    margin: 0 auto;
    clear: both;
  }

  .row-01 {
    width: 45px;
    height: 45px;
    animation: row-01 0.9s linear 0.5s both;
    border-radius: 10px;
    float: left;
    margin: 10px;
  }

  .row-01 p {
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 15px;
  }

  .row-02 {
    width: 155px;
    height: 55px;
    animation: row-01 0.9s linear 0.5s both;
    margin: 15px;
  }

  .title-01 {
    width: 390px;
    margin: 0 auto;
  }

  .title-02 {
    width: 350px;
    margin: 0 auto;
  }

  .title-03 {
    width: 70px;
    margin: 0 auto;
    position: relative;
    left: -9px;
  }

  .title-04 {
    width: 380px;
    margin: 0 auto;
    padding: 10px;
  }

  /* how to play 2048 */
  .row-01-2048 {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    float: left;
    margin: 10px;
  }

  .row-01-2048 p {
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 15px;
  }

  .title-02-2048 {
    width: 260px;
    margin: 0 auto;
  }

  .row-02-2048 {
    width: 155px;
    height: 55px;
    animation: row-01-2048 0.8s 1s 2 both;
    margin: 15px;
  }
}
